# Jupyter Notebook
주피터 노트북을 실행하면 chrome, edge와 같은 브라우저로 실행  

- ln: line number로 실행 순서을 의미함
- 확장자명: .ipynb

##### 파이썬 버전 확인

In [2]:
import platform

print(platform.python_version())

3.9.12

##### 작업 공간 확인

In [3]:
import os

# get current working directory
print(os.getcwd())

/Users/sinhyeonho/신현호/DataCampus

### Markdown
일반 텍스트 문서의 양식을 편집하는 문법으로, HTML의 형태로 변환이 가능하다.  
esc + m을 통해서 markdown으로 변환 가능


**\#**은 제목이라는 의미로 **\#**이 늘어날수록 하위 제목이 된다.
- # Header : 1개 사용
- ## Header : 2개 사용
- ### Header : 3개 사용
- #### Header : 4개 사용
- ##### Header : 5개 사용
- ###### Header : 6개 사용

### Markdown 단축키
- a : 위에 셀 추가  
- b : 아래에 셀 추가  
- dd : 셀 삭제  
- m : markdown으로 변경  
- y : code로 변경  
- h : 단축키 확인  
- o : output 접기  
- shift + m : 선택된 셀들을 합침(merge)

# 데이터 타입
### 식별자
식별자(identifier)는 변수명, 함수명 등을 지정하는데 사용한다.  
- 한글, 영문, 숫자, 밑줄 사용가능
- 숫자외 다른 문자로 시작하며 대소문자를 구분

### 데이터 타입
파이썬은 많은 내장 데이터 타입(built-in data type)을 가지고 있다.
- **int**(integer, 정수형)
- **float**(floating-point number, 실수형)
- **complex**(complex number, 복소수형)
- **bool**(boolean, 참/거짓)
- **str**(string, 문자열)
- **list**(순서가 있는 배열, 수정/추가/삭제 가능)
- **tuple**(순서가 있는 배열, 수정/추가/삭제 불가)
- **dict**(dictionary, key와 value의 쌍)
- **set**(순서가 없고 중복 불가)

##### int, float, complex

In [7]:
a = 1 # int
b = 1.1234 # float
c = 3 + 3j # complex

# type함수: 변수의 자료형(타입)을 확인
print('a의 자료형:', type(a))
print('b의 자료형:', type(b))
print('c의 자료형:', type(c))

a의 자료형: <class 'int'>
b의 자료형: <class 'float'>
c의 자료형: <class 'complex'>

In [9]:
# 숫자간의 연산도 가능하다
d = a + b + c
print(d)

(5.1234+3j)

##### str
- ''
- ""
- ''''''
- """"""  
문자열 안에 숫자를 써도 문자로 인식  
len(): 문자열의 길이를 반환하는 함수

In [10]:
sa = 'Hello, Bigdata'
print(sa)

Hello, Bigdata

In [11]:
sa = "Hello, Bigdata"
print(sa)

Hello, Bigdata

In [12]:
sa = '''Hello, Bigdata'''
print(sa)

Hello, Bigdata

In [13]:
sa = """Hello, Bigdata"""
print(sa)

Hello, Bigdata

In [14]:
se = 'and Cheer up!'
print(se)

and Cheer up!

In [16]:
# 문자열을 더하면 이어서 출력
print(sa + se)

Hello, Bigdataand Cheer up!

In [18]:
# 문자열을 곱하면 반복해서 출력
print('=' * 30) # =를 30번 반복

==============================

In [20]:
# len: 문자열의 길이를 반환하는 함수
len(se)

13

##### 문자열 인덱싱(indexing)
- **indexing**: 특정한 위치의 데이터만 골라오는 것([] 대괄호 사용) 

1. 각각의 문자열은 위치에 따른 고유 번호를 가짐  
2. 파이썬의 **index는 0부터 시작!!**  
3. **\-**는 뒤에서 부터 시작(뒤에서 셀때는 -1부터 시작)

In [25]:
a = 'this is a string'
print('a:', a)

# a[0]은 첫번째에 있는 t를 indexing
print('a[0]:', a[0])

# a[2]는 3번째에 있는 i를 indexing
print('a[2]:', a[2])

# a[-1]은 마지막에 있는 g를 indexing
print('a[-1]:', a[-1])

a: this is a string
a[0]: t
a[2]: i
a[-1]: g

##### 문자열 슬라이싱(slicing)
- **slicing**: 자료 구조 내에서 여러 개의 항목에 접근하는 것
- **slicing 방법**: 변수이름[시작번호: 끝번호]  

**슬라이싱에서는 '끝번호'값은 제외하고 출력한다!!**

In [26]:
b = '20200722wed'
print(b)

20200722wed

In [27]:
# 년도
print(b[0:4])

2020

In [28]:
# 월
print(b[4:6])

07

In [29]:
# 일
print(b[6:8])

22

In [30]:
# 요일
print(b[8:])

wed

In [31]:
# 전체 슬라이싱
print(b[:])

20200722wed

In [33]:
# -6번째까지
print(b[:-5])

202007

##### 문자열 대치
- replace(): 문자열을 대치하는 매소드

In [36]:
a = 'this is a string'

In [37]:
a[10:]

'string'

In [38]:
# error
# 길이도 다르기 때문
a[10:] = 'rope'

TypeError: 'str' object does not support item assignment

In [39]:
c = a.replace('string', 'rope')

In [40]:
print(c)

this is a rope

##### 문자열 format
- %d: 숫자
- %s: 문자
- %f: 소수
- %10s: 길이를 10으로 하고 오른쪽 정렬을 한다.
- %-10s: 길이를 10으로 하고 왼쪽 정렬을 한다.

In [41]:
a = 11

In [42]:
'a equals %d' %3

'a equals 3'

In [43]:
'a equals %d' %11

'a equals 11'

##### 문자열 매소드
- 문자열.count(‘문자’) : 한문자에 대한 개수를 샘
- 문자열.find(‘문자’) : 찾고자 하는 문자의 위치 파악(같은 문자가 있을 땐 가장 앞에 있는 문자 위치, 대소문자 구분함, -1이 결과값으로 나올 땐 해당 문자가 없음)
- 문자열.index(‘문자’): find 함수와 같이 찾고자 하는 문자의 위치를 알려주지만, 문자가 없을 땐 에러가 발생
- “,”.join(‘문자’): 문자 각각 사이를 ,로 구분지음
- 문자열.upper(): 소문자를 모두 대문자로 표현
- 문자열.lower(): 대문자를 모두 소문자로 표현
- 문자열.strip(): 앞뒤에 양쪽의 공백을 모두 없애기
- 문자열.lstrip(): 왼쪽의 공백만 없애기
- 문자열.rstrip(): 오른쪽의 공백만 없애기
- 문자열.replace(“old문자”,“new문자”): old문자를 new문자로 변경
- 문자열.split(): 문자열을 나누어 주는 함수. space, tab, enter등을 기준으로 문자열을 나누어줌. 특정 값을 입력하면 해당 값 기준으로 나누어줌

In [44]:
a = 'Korean culture'

In [45]:
# 문자의 개수를 새는 매소드
a.count('u')

2

In [47]:
# 문자를 찾는 매소드(인덱스를 반환)
a.find('u')

8

In [48]:
a.find('K')

0

In [49]:
# 대소문자 구분, -1이 나올 때는 해당 문자가 없는 것
a.find('k')

-1

In [50]:
a.index('K')

0

In [52]:
# find와 같이 해당하는 문제의 인덱스를 반환함
'''
단 index는 find와는 달리 값이 없으면 error가 발생
따라서 상황에 따라서 find, index 중 적합한 매소드를 사용
'''
a.index('k')

ValueError: substring not found

In [54]:
# 문자열을 ','로 구분함
','.join('Korean culture')

'K,o,r,e,a,n, ,c,u,l,t,u,r,e'

In [55]:
# 대문자로 변환
a.upper()

'KOREAN CULTURE'

In [56]:
# 소문자로 변환
a.lower()

'korean culture'

In [57]:
b = '    Korean Culture    '

In [58]:
# 양쪽 공백을 지움
b.strip()

'Korean Culture'

In [59]:
# 왼쪽 공백을 지움
b.lstrip()

'Korean Culture    '

In [60]:
# 오른쪽 공백을 지움
b.rstrip()

'    Korean Culture'

In [61]:
# 문자열을 대치함
a.replace('Korean', 'American')

'American culture'

In [62]:
# 문자열을 분리해서 리스트로 반환
a.split()

['Korean', 'culture']

In [63]:
c = 'Korean & American'

In [64]:
c.split('&')

['Korean ', ' American']

##### bool type
- **bool( )**함수 : **참/거짓을 식별**
- bool( ) 함수 이용시 문자열, 리스트, 튜플, 딕셔너리가 비어져있으면 False가 되고 그렇지 않으면 True가 됨
- bool( ) 함수 이용시 **숫자일 때 0이면 Flase**이고 그렇지 않으면 True가 됨

In [65]:
a = True

In [66]:
type(a)

bool

In [67]:
b = False

In [68]:
type(b)

bool

In [69]:
# and 연산자
# 둘 다 True일 때만 True
a and b

False

In [70]:
# or 연산자
# 둘 중 하나만 True여도 True
a or b

True

In [71]:
# not 연산자
# bool type을 바꿈
not True

False

In [72]:
not False

True

In [73]:
# bool함수
bool('abc')

True

In [74]:
bool('')

False

In [75]:
bool([1, 2, 3])

True

In [76]:
bool([])

False

In [77]:
bool(0)

False

##### 리스트(list) 타입
리스트는 대괄호 []안에 각 요소 값들을 쉼표 ,로 구분한다.  
숫자, 문자, 숫자 + 문자, 리스트 안에 리스트등의 요소가 가능하다!!

In [79]:
# 빈리스트
a = []
a = list()

a

[]

In [80]:
# 숫자형 리스트
b = [1, 2, 3, 4, 5]
b

[1, 2, 3, 4, 5]

In [81]:
# 문자형 리스트
c = ['red', 'blue', 'yellow']
c

['red', 'blue', 'yellow']

In [85]:
# 숫자와 문자 같이 가능
d = [1, 2, 'red', 'blue']
d

[1, 2, 'red', 'blue']

In [88]:
# 리스트 안에 리스트 가능
e = [1, 2, ['red', 'blue']]
e

[1, 2, ['red', 'blue']]

##### 리스트의 인덱싱(Indexing)
리스트 인덱싱도 문자열 인덱싱과 마찬가지로 위치를 기반으로 인덱싱(똑같이 0부터 시작)  
- 인덱싱 방법: 변수이름[인덱스]

In [96]:
print(b)
print('b[0]:', b[0])
print('b[3]:', b[3])
print('b[-1]:', b[-1])

[1, 2, 3, 4, 5]
b[0]: 1
b[3]: 4
b[-1]: 5

In [97]:
b[0] + b[2]

4

In [98]:
a = [1, 2, 3, 4, 5, ['a', 'b', 'c', 'd', 'e'], 7, 8, 9]

In [99]:
print(a)
print('a[0]:', a[0])
print('a[-1]:', a[-1])
print('a[3]:', a[3])
print('a[5]:', a[5])

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd', 'e'], 7, 8, 9]
a[0]: 1
a[-1]: 9
a[3]: 4
a[5]: ['a', 'b', 'c', 'd', 'e']

In [100]:
# list 안에 list에서 다시 인덱싱 가능
print('a[5][0]:', a[5][0])
print('a[5][2]:', a[5][2])
print('a[5][-1]:', a[5][-1])

a[5][0]: a
a[5][2]: c
a[5][-1]: e

##### 리스트 slicing
- Slicing 방법 : **변수이름[시작번호:끝번호]**
    - **슬라이싱에서는'끝번호' 값은 제외하고 출력**
    - 앞자리가 시작번호 뒷자리가 끝번호인데 **끝번호는 포함되지 않음**

In [101]:
b = [1, 2, 3, 4, 5]
b[0:4]

[1, 2, 3, 4]

In [102]:
c = '12345'
c[0:4]

'1234'

In [103]:
b[:3]

[1, 2, 3]

In [104]:
b[4:]

[5]

In [105]:
a = [1, 2, 3, 4, 5, ['a', 'b', 'c', 'd', 'e'], 7, 8, 9]

In [106]:
a[0:6]

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd', 'e']]

In [107]:
a[6:]

[7, 8, 9]

In [108]:
a[0:6:1] # 0:6의 안에서 한자리 수마다 출력 (a[0:6]과 동일)

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd', 'e']]

In [109]:
a[0:6:2] # 0:6의 안에서 두자리 수마다 출력

[1, 3, 5]

In [110]:
a[0:6:3] # 0:6의 안에서 세자리 수마다 출력

[1, 4]

##### 리스트 연산

In [125]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [126]:
# 리스트는 뒤에 이어짐 (numpy.array와 대비된다)
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [127]:
# 값들이 반복됌
a * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [128]:
# 리스트의 길이를 반환
len(a)

4

In [129]:
k = [12345678]
len(k)

1

In [130]:
m = '12345678'
len(m)

8

In [131]:
c = 'good' # 문자열

In [132]:
# 리스트와 문자열은 더할 수 없음
b + c

TypeError: can only concatenate list (not "str") to list

In [133]:
# c를 리스트로 만들어서 더함
c = ['good']
b + c

[5, 6, 7, 8, 'good']

In [134]:
# 원소를 수정
print(a)
a[3] = 9
print(a)

[1, 2, 3, 4]
[1, 2, 3, 9]

In [135]:
n = '1234'
n[3]

'4'

In [137]:
n[3] = 9 # 문자열에서는 인덱싱을 통한 수정이 불가능

TypeError: 'str' object does not support item assignment

In [138]:
n.replace('4', '9') # 문자열일 경우 replace 매소드를 사용하면 수정한다

'1239'

##### 리스트 기초 연산 함수
- sum: 합
- max: 최대값
- min: 최소값
- del: 삭제
- str: 문자형으로 변경

In [139]:
a = [1, 2, 3, 4, ['a', 'b', 'c']]
b = [6, 7, 8, 9]

In [141]:
len(a), len(b)

(5, 4)

In [142]:
# 합을 구함
sum(a) # 리스트가 원소로 들어가 있기에 계산이 불가

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [143]:
sum(b)

30

In [145]:
max(b)

9

In [146]:
min(b)

6

In [147]:
del(b[0]) # b[0] 삭제

In [148]:
print(b)

[7, 8, 9]

In [149]:
b = [6, 7, 8, 9]
del b[:3]

In [150]:
b

[9]

In [151]:
str(b[0]) # 숫자형을 문자형으로 변경

'9'

In [152]:
b = ['6', '7', '8', '9']

In [153]:
b.append('10') # 기존의 리스트에 요소 추가

In [155]:
b

['6', '7', '8', '9', '10']

In [156]:
b.append(['11', '12']) # 리스트를 하나의 원소로 추가한 것

In [157]:
b

['6', '7', '8', '9', '10', ['11', '12']]

In [158]:
c = ['6', '9', '8', '7']
c

['6', '9', '8', '7']

In [160]:
c.sort() # 오름차순으로 정렬(문자형, 숫자형 모두 가능)
c

['6', '7', '8', '9']

In [163]:
d = ['x', 'z', 'y']
d.sort()

In [164]:
d

['x', 'y', 'z']

In [171]:
c = ['6', '9', '8', '7']
c.reverse() # 반대순서로 변환

In [172]:
c

['7', '8', '9', '6']

In [173]:
c.insert(4, '10') # index 4에 '10'을 추가
c

['7', '8', '9', '6', '10']

In [174]:
c.insert(2,' 123') # index 2에 '123'을 추가
c

['7', '8', ' 123', '9', '6', '10']

In [175]:
e = ['3', '4', '4', '3', '5']
e.remove('4') # '4'를 제거, 여러개 있을 경우 왼쪽의 것을 제거

In [177]:
e

['3', '4', '3', '5']

In [178]:
e.pop() # 리스트의 마지막 요소를 보여주고 삭제한다.

'5'

In [179]:
e

['3', '4', '3']

In [180]:
c = [6, 6, 6, 6, 6, 7, 8, 9]
c.count(6) # 6의 개수를 count

5

In [181]:
c.extend([4, 5]) # 리스트만 들어갈 수 있다.
# 단 append와는 다르게 리스트의 요소만이 추가된다

##### 튜플(TUPLE) 타입
- 튜플 타입은 리스트 타입과 비슷
- 차이점은 **리스트는 대괄호 [ ]를 사용하고 튜플은 소괄호( )를 사용**(괄호생략가능)하며, **리스트는 수정이 가능하지만 튜플은 수정이 불가능함**
- 튜플에서는 괄호안에 한 개의 요소를 가질 때는 (1,)와 같이 마지막에 콤마 필요
- 콤마(,)를 붙이지 않으면 튜플이 아닌 정수 타입이 생성
- 프로그램을 실행되는 동안 **그 값이 항상 변화지 않아야 한다**면, 튜플을 사용하고 값이 자주 바뀐다면 리스트를 사용

In [182]:
a = tuple()
a = ()

In [183]:
type(a)

tuple

In [184]:
b = (1,) # 원소가 1개일 시에 반드시 ,추가
# 안하면 int로 인식

In [185]:
type(b)

tuple

In [186]:
c = (1, 2, 3)

In [187]:
type(c)

tuple

In [188]:
d = 1, 2, 3 # 괄호 생략 가능

In [189]:
type(d)

tuple

In [193]:
# 숫자형과 문자형이 같이 입력될 수 있음
# 튜플 안에 퓨틀 가능
e = 1, 2, ('ab', 'cd'), 3, 4

In [194]:
type(e)

tuple

In [195]:
e[0]

1

In [197]:
del e[0] # 튜플은 리스트와는 달리 수정, 삭제, 추가가 불가능

TypeError: 'tuple' object doesn't support item deletion

In [199]:
e.remove[1]

AttributeError: 'tuple' object has no attribute 'remove'

In [200]:
e[:]

(1, 2, ('ab', 'cd'), 3, 4)

In [201]:
c + e

(1, 2, 3, 1, 2, ('ab', 'cd'), 3, 4)

In [202]:
c * 2

(1, 2, 3, 1, 2, 3)

In [203]:
x, y, z = (1, 2, 3) # 언팩킹

In [204]:
print(x, y, z)

1 2 3

In [205]:
print(x)

1

##### 사전(DICT)타입
- **key와 value**를 한 쌍으로 가지고 있는 자료형
- **{key1:value1,key2:value2,key3:value3...}**
- 위치자리에 key값을 입력하면 value 출력

In [206]:
a = {
    'gender' : 'Female',
    'age' : 30,
    'name' : 'Kristina'
}
a

{'gender': 'Female', 'age': 30, 'name': 'Kristina'}

In [207]:
type(a)

dict

In [209]:
a['gender'] # 위치자리에 key를 입력하면, key에 해당하는 value가 반환된다.

'Female'

In [210]:
a['age']

30

In [212]:
a[0] # 리스트, 튜플, 문자열 인덱싱과 같이 인덱스 번호로 접근하면 에러 발생

KeyError: 0

In [213]:
a['Kristina'] # key가 아닌 value로 인덱싱하면 에러 발생

KeyError: 'Kristina'

##### dictionary에서 추가 및 삭제